@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>

@* <p>@Html.ActionLink("See all Categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all Tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p> *@